@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins/Poppins-Bold.ttf) format('opentype');
}

body {
  background-color: #faf9f6;
  margin-left: 48px;
  margin-top: 32px;
  font-family: 'Poppins';
}